.filter__input {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 36px;
    padding: 12px 22px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    color: #000000;
    border-radius: 8px;
    border: 1.5px solid #000;
    transition: all 0.3s ease 0s;
}

.filter__input:hover,
.filter__input:focus {
    transition: all 0.3s ease 0s;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
}