.sortBtns__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.sortBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    padding: 10px 30px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s ease 0s;
    border-radius: 8px;
    border: 2px solid #000;
    color: #F7EDE8;
    background: #000;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
}

.sortBtns:hover,
.sortBtns:focus {
    box-shadow: none;
}