.header {
    display: block;
    margin-bottom: 14px;
}

.header .container {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto ;
    padding: 14px;
    max-width: 960px;
}