.home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home__title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0 24px;
}

.home__span {
    color: #CD4631;
}

.home__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px auto;
    padding: 14px 32px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    border-radius: 8px;
    color: #F7EDE8;
    background: #000;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.home__link:hover,
.home__link:focus {
    box-shadow: none;
}

.home__img {
    position: absolute;
    left: -80px;
    bottom: 20px;
    max-width: 240px;
}

.home__img:hover {
    transform: scale(1.2);
}

@media screen and (min-width: 768px) {
    .home__title {
        font-size: 44px;
    }

    .home__img {
        left: -140px;
        bottom: 0px;
        max-width: 360px;
    }

    .home__link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 32px auto;
        padding: 18px 44px;
        font-weight: 500;
        font-size: 20px;
    }

    .home__link:hover,
    .home__link:focus {
        box-shadow: none;
    }
}

@media screen and (min-width: 1200px) {
    .home__title {
        font-size: 68px;
        font-weight: 700;
        text-align: center;
    }

    .home__img {
        left: -140px;
        bottom: 0px;   
        max-width: 480px;
    }

    .home__link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 38px auto;
        padding: 18px 48px;
        cursor: pointer;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 500;
        font-size: 26px;
        /* text-decoration: none;
        transition: all 0.3s ease 0s;
        border-radius: 8px;
        color: #F7EDE8;
        background: #000;
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25); */
    }

    .home__link:hover,
    .home__link:focus {
        box-shadow: none;
    }
}